<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anddle.music">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/music_2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.anddle.music.MusicListActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.anddle.music.MusicService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="com.anddle.music.PlayListContentProvider"
            android:authorities="com.anddle.anddlemusicprovider"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name="com.anddle.music.MusicAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/anddle_music_app_widget_info" />
        </receiver>

        <activity android:name="com.anddle.music.PlayMusicView"></activity>
    </application>

</manifest>